.header-menu {
  height: 150px;
  font-family: $open_sans;

  .navbar-brand {
    margin-left: -70px;
    width: 340px;

    img {
      width: 100%;
    }
  }

  .nav-item {
    margin-left: 8px;
    padding: 0 15px;
    text-transform: uppercase;

    .nav-link {
      font-size: 14px;
      color: $text_navbar_color;
      font-weight: bold;
    }
  }

  .nav-item.active,
  .nav-item:hover {
    background: $color_hover;
    border-radius: 17px;

    .nav-link {
      color: $cl-while;
    }
  }

  .nav-item-hidden {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px){
  .header-menu {
    display: block;
    height: 130px;

    .navbar-brand {
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    .menu {
      display: block;

      .navbar-nav {
        margin: 0 auto;
      }
    }

    .nav-item-hidden {
      display: block;
    }
  }
}

@media all and (max-width: 767px){
  .header-menu {
    height: auto;

    .navbar-toggler .navbar-toggler-icon {
      width: 20px;
      height: 20px;
    }

    .navbar-brand {
      width: 150px;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    .nav-item {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      margin-bottom: 46px;
    }

    .nav-home {
      margin-top: 42px;
    }

    .nav-item:hover {
      background: none;
      border-radius: 0;

      .nav-link {
        color: $color_hover;
      }
    }

    .nav-item-hidden {
      display: block;
    }
  }
}
