.header-menu {
  height: 90px;
  font-family: $open_sans;

  .navbar-brand {
    width: 340px;

    img {
      width: 100%;
    }
  }

  .menu ul li {
    padding: 0 20px;
    text-transform: uppercase;
  }

  .menu ul li a {
    font-size: 14px;
    color: $text_navbar_color;
    font-weight: bold;
  }

  .menu ul li:hover {
    background: $color_hover;
    border-radius: 17px;
    color: white;
  }

  .menu ul li a:hover {
    color: white;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px){
  .header-menu {
    display: block;
    height: 188px;

    .navbar-brand {
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    .menu {
      display: block;

      .navbar-nav {
        margin: 0 auto;
      }
    }
  }
}
@media all and (max-width: 767px){
  .header-menu {
    height: 65px;

    .navbar-toggler .navbar-toggler-icon {
      width: 20px;
      height: 20px;
    }

    .navbar-brand {
      width: 150px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }

    .menu ul li {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;

      &:hover {
        background: none;
        border-radius: 0;

        a {
          color: $color_hover;
        }
      }
    }
  }
}
